.text-gradient {
        background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        border-bottom: 2px solid red;
}

.bg-gradient {
        background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
        color: white;
}

.bg-gradient:hover {
        background: -webkit-linear-gradient(45deg, #fb8721, #fa2424);
        color: white;
}

.text-blue {
        color: #031864;
}

.text-gray {
        color: gray;
}

.myBorder{
        border-top-left-radius: 100px !important;
        border-bottom-right-radius: 100px !important;
}