.text-pink {
        color: #ee4962;
}

.bg-color {
        background: #1ab79d
}

.text-blue {
        color: #031864;
}

.text-gray {
        color: gray;
}

/* .myBorder{
        border-top-left-radius: 100px !important;
        border-bottom-right-radius: 100px !important;
} */

.footer-bg{
        background-image: url('../../assets/footer-bg.png');
        /* color: #161616; */
}